<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>computed example</title>
    <!-- Delete ".min" for console warnings in development -->
    <script src="../../dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
        <div>
            <demo-grid
                :data="gridData"
                :columns="gridColumns"
                :filter-key="searchQuery">
            </demo-grid>
            <div v-for="(item, index) in gridData" :key="index">
                <div>{{item.name}}---{{item.power}}</div>
            </div>
        </div>
        <button @click="change">change</button>
        <button @click="changeLast">change last name</button>
    </div>
  </body>
</html>
<script type="text/x-template" id="grid-template">
      <table v-if="filteredData.length">
        <thead>
          <tr>
            <th v-for="key in columns"
              @click="sortBy(key)"
              :class="{ active: sortKey == key }">
              {{ key | capitalize }}
              <span class="arrow" :class="sortOrders[key] > 0 ? 'asc' : 'dsc'">
              </span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="entry in filteredData">
            <td v-for="key in columns">
              {{entry[key]}}
            </td>
          </tr>
        </tbody>
      </table>
      <p v-else>No matches found.</p>
</script>
<script type="text/javascript">

    Vue.component('demo-grid', {
      template: '#grid-template',
      replace: true,
      props: {
        data: Array,
        columns: Array,
        filterKey: String
      },
      data: function () {
        var sortOrders = {}
        this.columns.forEach(function (key) {
          sortOrders[key] = 1
        })
        return {
          sortKey: '',
          sortOrders: sortOrders
        }
      },
      computed: {
        filteredData: function () {
          var sortKey = this.sortKey
          var filterKey = this.filterKey && this.filterKey.toLowerCase()
          var order = this.sortOrders[sortKey] || 1
          var data = this.data
          if (filterKey) {
            data = data.filter(function (row) {
              return Object.keys(row).some(function (key) {
                return String(row[key]).toLowerCase().indexOf(filterKey) > -1
              })
            })
          }
          if (sortKey) {
            data = data.slice().sort(function (a, b) {
              a = a[sortKey]
              b = b[sortKey]
              return (a === b ? 0 : a > b ? 1 : -1) * order
            })
          }
          return data
        }
      },
      filters: {
        capitalize: function (str) {
          return str.charAt(0).toUpperCase() + str.slice(1)
        }
      },
      methods: {
        sortBy: function (key) {
          this.sortKey = key
          this.sortOrders[key] = this.sortOrders[key] * -1
        }
      }
    })

    var demo = new Vue({
      el: '#app',
      data: {
        firstName: 'cs',
        lastName: 'huo',
        useless: 0,
        searchQuery: '',
        gridColumns: ['name', 'power'],
        gridData: [
          { name: 'Chuck Norris', power: Infinity },
          { name: 'Bruce Lee', power: 9000 },
          { name: 'Jackie Chan', power: 7000 },
          { name: 'Jet Li', power: 8000 }
        ]
      },
      methods: {
        change: function () {
            this.useless++;
        },
        changeLast: function() {
            this.lastName = 'joho';
        }
      }
    })
</script>